
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active{
  background-color: #673ab7;
  color: #fff !important;
}

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


.blue{
  color: $blue;
}
.indigo{
  color: $indigo;
}
.purple{
  color: $purple;
}
.pink{
  color: $pink;
}
.red{
  color: $red;
}
.orange{
  color: $orange;
}
.yellow{
  color: $yellow;
}
.green{
  color: $green;
}
.teal{
  color: $teal;
}
.cyan{
  color: $cyan;
}

@media print {
  .nav.nav-tabs li:not(.active){
      display: none;
  }
  .invoice{
    padding: 10px 20px;
  }

  .invoice{
  background-position: center center;
  background-repeat: no-repeat;

}
.table-responsive table{
  background-color: transparent !important;
}

}

@page {
  margin: 0;
}












